.burger-menu-screen {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	background-color: #080808;
	display: flex;
	justify-content: center;
	left: -200vw;
	z-index: 500;
	transition: left 0.5s linear;
	@media (min-width: 1025px) {
		display: none;
	}
	@media (max-width: 570px) {
		padding-top: 152px;
		padding-bottom: 152px;
	}
	.burger-menu-screen__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 41px 0;
		padding-right: 451px;
		margin-top: -6px;
		@media (max-width: 768px) {
			padding-right: 241px;
			margin-top: 9px;
		}
		@media (max-width: 570px) {
			height: 362px;
			padding-right: 0;
			margin-top: 0;
			text-align: center;
			gap: 34px 0;
		}
		.burger-menu-screen__link {
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
			font-size: 32px;
			color: #ffffff80;
			@media (max-width: 570px) {
				font-size: 26px;
			}
			&:hover {
				color: #fff;
			}
		}
		.burger-menu-screen__button {
			display: none;
			@media (max-width: 570px) {
				display: block;
				margin-top: 16px;
			}
		}
	}
	&_active {
		left: 0;
	}
}

// from burger-menu-bottom

.main-top__bottom.burger-menu-bottom {
	position: fixed;
	bottom: 0;
	padding-top: 40px;
	padding-bottom: 24px;
	background-color: #080808;
	width: 90vw;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	transition: opacity 0.4s ease-in-out 0.5s, visibility 0.4s ease-in-out 0.5s;
	&_active {
		opacity: 1;
		visibility: visible;
	}
	@media (min-width: 1025px) {
		display: none;
	}
	.main-top__info {
		@media (max-width: 680px) {
			margin-left: auto;
			margin-right: 9px;
		}
	}
}
