.input-block {
	position: relative;
}

.input {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	background-color: transparent;
	padding-right: 32px;
	border: none;
	&_white {
		font-weight: 300;
		font-size: 20px;
		line-height: 171%;
		padding-bottom: 4px;
		border-bottom: 1px solid #ffffff4d;
		color: white;
		opacity: 0.9;
		&::placeholder {
			color: white;
			opacity: 0.7;
		}
		&:-webkit-autofill {
			-webkit-text-fill-color: white;
		}
		@media (max-width: 1024px) {
			font-size: 16px;
			padding-bottom: 6px;
		}
	}
	&_gray {
		font-weight: 300;
		font-size: 20px;
		line-height: 171%;
		padding-bottom: 4px;
		border-bottom: 1px solid #515151;
		color: #080808;
		&::placeholder {
			color: #080808;
			opacity: 0.7;
		}
		&:-webkit-autofill {
			-webkit-text-fill-color: #080808;
		}
		@media (max-width: 1024px) {
			font-size: 16px;
			padding-bottom: 6px;
		}
	}
	&_dark {
		font-weight: 600;
		font-size: 11px;
		line-height: 100%;
		padding-bottom: 8px;
		border-bottom: 1px solid #d6d6d64d;
		color: #3a3e4b;
		letter-spacing: 6%;
		&::placeholder {
			color: #3a3e4b;
		}
	}
	&_error {
		border-bottom: 1px solid red;
	}
	&_success {
		border-bottom: 1px solid green;
	}
}

.validation {
	position: absolute;
	font-weight: 400;
	font-size: 9px;
	line-height: 100%;
	&_error {
		color: red;
	}
	&_success {
		color: green;
	}
}
