.one-news-slide {
	max-width: 316px;
	min-height: 475px;
	.one-news-slide__img {
		display: block;
		margin-bottom: 24px;
	}
	.one-news-slide__title {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 137%;
		color: #3a3e4b;
		margin-bottom: 13px;
	}
	.one-news-slide__text {
		font-family: "Montserrat", sans-serif;
		font-weight: 300;
		font-size: 10px;
		line-height: 171%;
		color: #828282;
	}
}
