.pop-up {
	position: fixed;
	min-height: 971px;
	inset: 0;
	background-color: #080808;
	z-index: 5555;
	padding-inline: 108px;
	display: flex;
	justify-content: center;
	align-items: center;
	.pop-up__inner {
		flex-grow: 1;
		max-width: 1046px;
		height: 803px;
		padding: 56px 123px;
		background-color: #f2f2f2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 6px 0;
	}
}

.pop-up__top {
	width: 100%;
	height: 354px;
	padding: 44px 70px;
	background-color: #ffffff;
	.pop-up__top-title {
		text-align: center;
		margin-bottom: 31px;
	}
	.pop-up__form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 38px 37px;
		input:last-of-type {
			grid-column: 1 / 3;
		}
	}
}
.pop-up__bottom {
	max-width: 800px;
	height: 330px;
	padding: 44px 70px 37px;
	background-color: #ffffff;
}
