#preloader {
	position: fixed;
	inset: 0;
	background-color: #080808;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	z-index: 9999;
}

.preloader {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 24px;
	letter-spacing: 26%;
	color: #fafafa;
	text-transform: uppercase;
	.preloader__text {
		justify-self: end;
		margin-right: 10px;
	}
	.preloader__percents {
		justify-self: start;
		margin-left: 10px;
	}
}
