.project-card {
	position: relative;
	height: 653px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 10;
	&_normal {
		width: 653px;
		padding: 30px 0 34px 32px;
		@media (max-width: 1439px) {
			width: 453px;
			height: 453px;
		}
	}
	&_full {
		width: 1314px;
		padding: 30px 85px 27px 32px;
		@media (max-width: 1439px) {
			width: 912px;
			height: 453px;
		}
	}
	@media (max-width: 1023px) {
		width: 672px;
		height: 672px;
		padding: 30px 0 34px 32px;
	}
	@media (max-width: 767px) {
		width: 327px;
		height: 327px;
		padding: 22px 0 26px 24px;
	}
	.project-card__location-block {
		display: flex;
		align-items: center;
		gap: 0 18px;
		font-weight: 500;
		font-size: 11px;
		line-height: 170%;
		color: white;
	}
	.project-card__title-block {
		display: flex;
		gap: 28px 0;
		@media (max-width: 767px) {
			gap: 11px 0;
		}
		&_normal {
			flex-direction: column;
		}
		&_full {
			justify-content: space-between;
			align-items: end;
			@media (max-width: 1023px) {
				flex-direction: column;
				justify-content: start;
				align-items: start;
			}
			div:last-child {
				margin-bottom: 7px;
				@media (max-width: 1023px) {
					margin-bottom: 0;
				}
			}
		}
	}
	.project-card__picture {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -10;
		.project-card__img {
		}
	}
}
