.simple-card {
	position: relative;
}

.simple-card__title {
	width: 277px;
	position: absolute;
	left: 58px;
	bottom: 56px;
	z-index: 10;
	@media (max-width: 1024px) {
		width: 188px;
		left: 46px;
		bottom: 45px;
	}
	@media (max-width: 768px) {
		width: 158px;
		left: 32px;
		bottom: 32px;
	}
	@media (max-width: 580px) {
		left: 25px;
		bottom: 24px;
	}
}

.simple-card__img {
	display: block;
	width: 100%;
}
