.text {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 171%;
	&_light {
		color: #080808;
	}
	&_white {
		color: #fff;
	}
	&_gray {
		color: #afb0b2;
	}
	&_large {
		font-size: 20px;
		@media (max-width: 1024px) {
			font-size: 18px;
		}
		@media (max-width: 768px) {
			font-size: 16px;
		}
		@media (max-width: 420px) {
			font-size: 14px;
		}
	}
}
