.versatile-card {
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	&_reverse {
		flex-direction: row-reverse;
		justify-content: start;
	}
	@media (max-width: 600px) {
		flex-direction: column-reverse;
		align-items: center;
	}
}

.versatile-card__content {
	padding-left: 59px;
	padding-bottom: 57px;
	@media (max-width: 1120px) {
		padding-left: 47px;
		padding-bottom: 46px;
	}
	@media (max-width: 900px) {
		padding-left: 33px;
		padding-bottom: 33px;
	}
	@media (max-width: 600px) {
		width: 327px;
		height: 137px;
		padding-top: 25px;
		padding-left: 25px;
		padding-bottom: 0;
	}
	.versatile-card__title {
		max-width: 365px;
		margin-bottom: 20px;
		@media (max-width: 1024px) {
			max-width: 278px;
		}
		@media (max-width: 768px) {
			max-width: 208px;
			margin-bottom: 42px;
		}
		@media (max-width: 600px) {
			max-width: 279px;
			margin-bottom: 36px;
		}
	}
	.versatile-card__text {
		max-width: 433px;
		margin-bottom: 55px;
		@media (max-width: 1120px) {
			max-width: 348px;
			margin-bottom: 45px;
		}
		@media (max-width: 900px) {
			display: none;
		}
	}
	.versatile-card__discover {
	}
}

.versatile-card__picture {
	width: 50%;
	@media (max-width: 600px) {
		width: 100%;
	}
	.versatile-card__img {
		display: block;
		width: 100%;
	}
}
