.projects-top {
	display: flex;
	justify-content: space-between;
	padding-top: 212px;
	padding-bottom: 125px;
	@media (max-width: 1024px) {
		flex-direction: column;
		justify-content: flex-start;
		gap: 17px 0;
		padding-top: 159px;
		padding-bottom: 103px;
	}
	@media (max-width: 768px) {
		padding-top: 143px;
		padding-bottom: 96px;
	}
	@media (max-width: 420px) {
		padding-top: 119px;
		padding-bottom: 64px;
	}
}

.projects-top__content {
	max-width: 451px;
	margin-top: -7px;
	@media (max-width: 1024px) {
		margin-top: 0;
	}
	@media (max-width: 768px) {
		max-width: 495px;
	}
	.projects-top__text {
		margin-bottom: 28px;
	}
	.projects-top__submenu {
		@media (max-width: 420px) {
			display: none;
		}
	}
	.projects-top__dropdown {
		display: none;
		@media (max-width: 420px) {
			display: block;
		}
	}
}
