.about-top {
	position: relative;
	height: 744px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-top__content {
	text-align: center;
	padding-inline: 24px;
	max-width: 414px;
	margin-top: 104px;
	@media (max-width: 1024px) {
		margin-top: 92px;
	}
	@media (max-width: 570px) {
		margin-top: 62px;
	}
	.about-top__title {
		line-height: 318%;
		margin-bottom: 12px;
	}
}

.about-top__bg {
	position: absolute;
	width: 100%;
	height: 648px;
	top: 96px;
	left: 0;
	object-fit: cover;
	z-index: -10;
	@media (max-width: 1024px) {
		top: 92px;
	}
	@media (max-width: 570px) {
		top: 62px;
	}
}
