.one-project-img__img {
	display: block;
	width: 100%;
	object-fit: contain;
}

.one-project-content {
	margin-bottom: 140px;
	@media (max-width: 1440px) {
		margin-bottom: 124px;
	}
	@media (max-width: 768px) {
		margin-bottom: 104px;
	}
	@media (max-width: 420px) {
		margin-bottom: 80px;
	}
}

.one-project-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	@media (max-width: 580px) {
		grid-template-columns: 1fr;
	}
	& picture:first-of-type,
	picture:last-of-type {
		grid-column: 1 / 3;
		@media (max-width: 580px) {
			grid-column: 1 / 2;
		}
	}
}

.one-project-content__button {
	text-align: center;
	margin-top: 79px;
	@media (max-width: 1440px) {
		margin-top: 64px;
	}
	@media (max-width: 768px) {
		margin-top: 56px;
		margin-right: 8px;
	}
	@media (max-width: 420px) {
		margin-top: 48px;
		margin-right: 0;
	}
}
