.one-project-img__img {
	display: block;
	width: 100%;
	object-fit: contain;
}

.one-project-content {
}

.one-project-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	@media (max-width: 420px) {
		grid-template-columns: 1fr;
	}
	& picture:first-of-type,
	picture:last-of-type {
		grid-column: 1 / 3;
		@media (max-width: 420px) {
			grid-column: 1 / 2;
		}
	}
}
