.our-projects {
	text-align: center;
	background-color: #080808;
	padding-top: 144px;
	padding-bottom: 180px;
	@media (max-width: 1439px) {
		padding-top: 128px;
		padding-bottom: 117px;
	}
	@media (max-width: 1023px) {
		padding-top: 108px;
		padding-bottom: 83px;
	}
	@media (max-width: 767px) {
		text-align: start;
		padding-top: 83px;
		padding-bottom: 22px;
	}
}

.our-projects__subtext {
	max-width: 449px;
	font-size: 14px;
	line-height: 171%;
	color: #828282;
	padding-top: 34px;
	padding-bottom: 133px;
	margin: 0 auto;
	@media (max-width: 1439px) {
		padding-top: 25px;
		padding-bottom: 116px;
	}
	@media (max-width: 1023px) {
		padding-bottom: 96px;
	}
	@media (max-width: 767px) {
		padding-top: 18px;
		padding-bottom: 79px;
	}
}

// grid section

.our-projects__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	@media (max-width: 1439px) {
		gap: 6px;
	}
	@media (max-width: 1023px) {
		grid-template-columns: 1fr;
	}
	div:nth-child(3) {
		grid-column: 1 / 3;
		@media (max-width: 1023px) {
			grid-column: 1 / 2;
		}
	}
	div:nth-child(5) {
		display: none;
		@media (max-width: 767px) {
			display: flex;
		}
	}
}
.our-projects__card-more {
	background-color: #fff;
	padding-top: 113px;
	@media (max-width: 1439px) {
		padding-top: 64px;
	}
	@media (max-width: 1023px) {
		height: 672px;
		padding-top: 145px;
	}
	@media (max-width: 767px) {
		text-align: center;
		height: 327px;
		padding-top: 62px;
	}
	.our-projectcard-img {
		margin-top: 24px;
		@media (max-width: 767px) {
			margin-top: 16px;
		}
	}
}
