{% macro burgerMenu() %}
  <div class="burger-menu-screen">
		<ul class="burger-menu-screen__list">
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="#!">Home</a>
			</li>
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="#!">Projects</a>
			</li>
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="#!">About us</a>
			</li>
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="/interior-studio/src/pages/news/">Blog</a>
			</li>
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="#!">Contacts</a>
			</li>
			<li class="burger-menu-screen__button">
				<!-- button (titleBtn, classButton) -->
				<!-- prettier-ignore -->
				{% from "./button.njk" import button %}
				{{ button("Send Request", "button_light button_transparent-border") }}
			</li>
		</ul>
		<div class="main-top__bottom">
			<!-- fbInBe ( classFbInBe ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/fb-in-be.njk" import fbInBe %}
			{{ fbInBe("fb-in-be-block_light fb-in-be-block_680-none") }}
			<!-- dropdown (value, option1, option2, option3, classControl, classPointer, classChevron) -->
			<!-- prettier-ignore -->
			{% from "src/partials/dropdown.njk" import dropdown %}
			{{ dropdown("Berlin", "Paris", "London", "Tokyo", "select__control_light", "", "select__chevron_light") }}
			<!-- info -->
			<div class="main-top__info">
				<a class="main-top__tel" href="tel:+380983527547">+380983527547</a>
				<a class="main-top__email" href="mailto:info@gmail.com"
					><span class="main-top__email_E">E: </span>info@gmail.com</a
				>
			</div>
		</div>
	</div>
{% endmacro %}
