{% macro burgerMenu() %}
  <div class="burger-menu-screen">
		<ul class="burger-menu-screen__list">
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="/interior-studio/">Home</a>
			</li>
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="/interior-studio/src/pages/projects/">Projects</a>
			</li>
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="/interior-studio/src/pages/about/">About us</a>
			</li>
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="/interior-studio/src/pages/news/">Blog</a>
			</li>
			<li class="burger-menu-screen__item">
				<a class="burger-menu-screen__link" href="/interior-studio/src/pages/contact/">Contacts</a>
			</li>
			<li class="burger-menu-screen__button">
				<!-- button (titleBtn, classButton) -->
				<!-- prettier-ignore -->
				{% from "./button.njk" import button %}
				{{ button("Send Request", "button_light button_transparent-border") }}
			</li>
		</ul>
	</div>
{% endmacro %}
