{% macro discover(classDiscover) %}
<div class="discover {{ classDiscover }}">
	<span class="discover__line discover__line_short"></span>
	<span class="discover__text">Discover more</span>
	<span class="discover__line discover__line_long"></span>
</div>
{% endmacro %}
