{% macro discover( classDiscover, classText ) %}
<div class="discover {{ classDiscover }}">
	<span class="discover__line discover__line_short"></span>
	<span class="discover__text">{{classText}}</span>
	<span class="discover__line discover__line_long"></span>
</div>
{% endmacro %}
