{% macro fbInBe(classFbInBe) %}
<div class="fb-in-be-block {{classFbInBe}}">
	<span class="fb-in-be-unit">Fb</span>
	<span class="fb-in-be-unit">In</span>
	<span class="fb-in-be-unit">Be</span>
</div>
{% endmacro %}
