{% macro footerBottom( classIcon, classFooter ) %}
	<div class="footer-bottom our-container {{classFooter}}">
		<p class="footer-bottom__text">© Copyright 2018. All rights reserved</p>
		<div class="footer-bottom__icon-side">
			<p class="footer-bottom__text">Made with love in</p>
			<a href="#go-to-top">
				<svg class="footer-bottom__icon {{classIcon}}">
					<use xlink:href="/images/icons.svg#footer-icon"></use>
				</svg>
			</a>
		</div>
	</div>
{% endmacro %}
