{% macro input( placeholder, classInput, type, inputId ) %}
  <div class="input-block">
    <input id="{{inputId}}" class="input {{ classInput }}" type="{{ type }}" placeholder="{{ placeholder }}" />
    <p class="validation"></p>
  </div>
{% endmacro %}
