{% macro oneNewsSlide( pathDesktop, pathLaptop, pathTablet, pathMobile ) %}
<div class="one-news-slide">
	<picture class="one-news-slide__picture">
		<source srcset="{{pathMobile}}" media="(max-width: 420px)" />
		<source srcset="{{pathTablet}}" media="(max-width: 768px)" />
		<source srcset="{{pathLaptop}}" media="(max-width: 1024px)" />
		<img class="one-news-slide__img" src="{{ pathDesktop }}" alt="one news slide" />
	</picture>
	<h6 class="one-news-slide__title">Antrax IT - Italian factory for the production of radiators</h6>
	<p class="one-news-slide__text">01 January 2019</p>
</div>
{% endmacro %}
