{% macro popUp2() %}
  <section class="pop-up-2">
    <div class="pop-up-2__inner">
      <div class="pop-up-2__title">
        <!-- title ( name, classTitle ) -->
        <!-- prettier-ignore -->
        {% from "src/partials/title.njk" import title %}
        {{ title( "Thank you for your message!", "title_h3 title_pop-up") }}
      </div>
      <div class="pop-up-2__text">
        <!-- text ( text, classText ) -->
        <!-- prettier-ignore -->
        {% from "src/partials/text.njk" import text %}
        {{ text( "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim sed, ornare pretium velit.", "text_gray" ) }}
      </div>
      <div class="pop-up-2__button">
        <!-- button (titleBtn, classButton) -->
        <!-- prettier-ignore -->
        {% from "src/partials/button.njk" import button %}
        {{ button("Send again", "button_light button_pop-up" ) }}
      </div>
    </div>

    <button class="pop-up__close-2">
      <svg class="pop-up__close-icon">
        <use xlink:href="/images/icons.svg#close-icon"></use>
      </svg>
    </button>
  </section>
{% endmacro %}