{% macro popupDropdown() %}
  <div class="popup-dropdown">
    <div class="popup-dropdown__control">
      <span class="popup-dropdown__title">Property type</span>
      <svg class="popup-dropdown__icon">
        <use xlink:href="/images/icons.svg#chevron"></use>
      </svg>
    </div>
    <div class="popup-dropdown__list">
      <div class="popup-dropdown__option">Property 1</div>
      <div class="popup-dropdown__option">Property 2</div>
      <div class="popup-dropdown__option">Property 3</div>
    </div>
	</div>
{% endmacro %}
