{% macro simpleCard( name, pathImg ) %}
<div class="simple-card">

	<div class="simple-card__title">
		<!-- title ( name, classTitle ) -->
		<!-- prettier-ignore -->
		{% from "src/partials/title.njk" import title %}
		{{ title(name, "title_simple title_light") }}
	</div>

	<img class="simple-card__img" src="{{ pathImg }}" alt="simple card image" />

</div>
{% endmacro %}
