{% macro sotials() %}
  <div class="sotials">
		<h5 class="sotials__title">Share:</h5>
		<ul class="sotials__list">
			<li class="sotials__item">
				<a class="sotials__link" href="#!">
					<img class="sotials__img" src="/images/sotials/facebook.png" alt="sotials" />
				</a>
			</li>
			<li class="sotials__item">
				<a class="sotials__link" href="#!">
					<img class="sotials__img" src="/images/sotials/twitter.png" alt="sotials" />
				</a>
			</li>
			<li class="sotials__item">
				<a class="sotials__link" href="#!">
					<img class="sotials__img" src="/images/sotials/linkedin.png" alt="sotials" />
				</a>
			</li>
			<li class="sotials__item">
				<a class="sotials__link" href="#!">
					<img class="sotials__img" src="/images/sotials/attach.png" alt="sotials" />
				</a>
			</li>
		</ul>
	</div>
{% endmacro %}