{% macro versatileCard( name, pathDesktop, pathMobile, classCard ) %}
<div class="versatile-card {{ classCard }}">
	<div class="versatile-card__content">
		<div class="versatile-card__title">
			<!-- title ( name, classTitle ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/title.njk" import title %}
			{{ title(name, "title_simple title_dark") }}
		</div>
		<div class="versatile-card__text">
			<!-- text ( text, classText ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/text.njk" import text %}
			{{ text( "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien eu diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam.", "text_light" ) }}
		</div>
		<a class="versatile-card__discover" href="/interior-studio/src/pages/one-news/">
			<!-- discover ( classDiscover, classText ) -->
			<!-- prettier-ignore -->
			{% from "src/partials/discover-more.njk" import discover %}
			{{ discover("discover_dark", "Discover more") }}
		</a>
	</div>

	<picture class="versatile-card__picture">
		<source srcset="{{pathMobile}}" media="(max-width: 600px)" />
		<img class="versatile-card__img" src="{{ pathDesktop }}" alt="versatile card image" />
	</picture>

</div>
{% endmacro %}
